# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Coverage
cover.*
*.out

# Go
*.test
go.work*

# GoReleaser
dist/

# Temporary files
tmp/
*.tmp

# IDE
.idea/
.vscode/*
!.vscode/settings.json

# Misc
*~
.DS_Store
